<template>
<div>
    <el-row>
        <el-col :span="24">
            <div class="grid-content bg-purple-dark">
                <nav class="navbar navbar-light bg-light justify-content-between">
                    <a class="navbar-brand">退修會</a>
                    <div class="form-inline">
                        <a href="https://www.worldvision.org.tw/"><img src="../assets/wv_logo.png" width="135" height="65" /></a>
                    </div>
                </nav>
            </div>
        </el-col>
    </el-row>
    <el-card shadow="always" class="box-card">
        <div class="word">
            <span>
                <h2>謝謝您的填寫</h2>
            </span>
        </div>

        <div>
            <span> {{ count }}秒後跳轉頁面 </span>
        </div>
    </el-card>
</div>
</template>

<script>
export default {
    data() {
        return {
            count: "", // 倒數
            form: {
                number: this.$route.query.number,
                email: this.$route.query.email,
            },
        };
    },
    created() {
        this.goLogin();
    },
    methods: {
        //2秒后跳转
        goLogin() {
            const TIME_COUNT = 3;
            if (!this.timer) {
                this.count = TIME_COUNT;
                this.show = false;
                this.timer = setInterval(() => {
                    if (this.count > 0 && this.count <= TIME_COUNT) {
                        this.count--;
                    } else {
                        this.show = true;
                        clearInterval(this.timer);
                        this.timer = null;
                        this.$router.push({
                            path: "/home",
                            query: {
                                number: this.form.number,
                                email: this.form.email,
                            },
                        });
                    }
                }, 1000);
            }
        },
    },
};
</script>

<style scoped>
.word {
    margin-top: 12px;
    margin: auto;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #999999;
    line-height: 25px;
    letter-spacing: 1px;
}
</style>
