<template>
<div>
    <div v-for="item in users" :key="item.id">
        {{item}}
    </div>
</div>
</template>

<script>
export default {
    data() {
        return {
            users: []
        }
    },
    created() {
        this.getallUsers();
    },
    methods: {
        getallUsers() {
            const api = "http://localhost:8090/api/users/";
            this.$http.get(api).then((response) => {
                this.users = response.data;
                console.log(response);
            });
        },
    },
};
</script>
