<template>
<div>
    <el-container>
        <el-main>
            <div class="hero-image"></div>
            <el-form ref="form" :model="form" label-width="80px">
                <div style="text-align: right; color: blue">
                    <h5>日期：109/11/04 ~ 11/06<br />團體名稱：台灣世界展望會<br /></h5>
                </div>
                <div style="text-align: right">
                    <span style="margin-right: 10px">同工編號：{{ form.number }}</span><br />Email：{{ form.email }}
                </div>
                <h5>
                    <b>
                        貴賓您好，<br />
                        為防範「COVID-19新冠狀肺炎」，請配合填寫本資料，以維護及保障您及統一渡假村內所有旅客的安全，謝謝合作！
                    </b>
                </h5>
                <h5>
                    <b>
                        一、 個人旅遊史、接觸史暨健康狀況聲明，請依<font color="red"><u>實際狀況</u></font>勾選。<br /></b>
                </h5>

                <el-table :data="tableData" border style="width: 100%; font-size: 18px">
                    <el-table-column label="選項" width="130" align="center">
                        <template slot-scope="scope">
                            <el-radio-group v-model="scope.row.radio">
                                <el-radio :label="1">是</el-radio>
                                <el-radio :label="0">否</el-radio>
                            </el-radio-group>
                        </template>
                    </el-table-column>
                    <el-table-column label="個人旅遊史、接觸史暨健康狀況">
                        <template slot-scope="scope">
                            <span v-html="scope.row.descript"></span>
                        </template>
                    </el-table-column>
                </el-table>
                <div style="
              font-size: 18px;
              border: 1px solid lightgray;
              margin-top: 0.45px;
              margin-bottom: 25px;
              padding: 15px;
            ">
                    備註：<br />
                    1.<span style="color: red; margin-left: 20px">上述事項如有任一項為是者，本渡假村將無法提供接待入住，不便之處敬請見諒。</span><br />
                    2.<span style="margin-left: 20px">住客進入飯店應全程配戴平面口罩。</span>
                </div>
                <h5>
                    <b>
                        二、本人已詳細填寫上述聲明書所列事項，並保證填寫內容正確屬實。<br /></b>
                </h5>
                <h5>
                    <b>三、填寫人資料<br /></b>
                </h5>
                姓名：
                <el-input v-model="form.name" placeholder="請填入姓名" maxlength="15" clearable></el-input><br />
                連絡電話：
                <el-input v-model="form.phone" placeholder="請填入電話" maxlength="15" clearable></el-input><br />
                緊急聯絡人姓名：
                <el-input v-model="form.contact_name" placeholder="請填入姓名" maxlength="15" clearable></el-input><br />
                緊急聯絡人電話：<br />
                <el-input v-model="form.contact_phone" placeholder="請填入電話" maxlength="15" clearable></el-input>
                <p v-if="errors.length" class="warning">
                <ul>
                    <li v-for="error in errors" :key="error" class="warning">{{ error }}</li>
                </ul>
                </p>
                <el-button icon="el-icon-thumb" @click="send">Confirm</el-button>
            </el-form>
        </el-main>
    </el-container>
</div>
</template>

<script>
import moment from "moment";
export default {
    data() {
        return {
            //onkeyup="if(event.keyCode !=37 && event.keyCode != 39)value=value.replace(/\D/g,'')"
            errors: [],
            form: {
                number: atob(this.$route.query.number),
                email: atob(this.$route.query.email),
                name: null,
                phone: null,
                contact_name: null,
                contact_phone: null,
                time: null,
            },
            tableData: [{
                    radio: "10",
                    descript: "1.	過去60天內(含60天)，<span style='color:red'><u><b>無</b></u></span>海外國家之旅遊史(含入境、過境或轉機)",
                },
                {
                    radio: "20",
                    descript: "2.	過去60天內(含60天)，<span style='color:red'><u><b>無</b></u></span>接觸過「COVID-19新冠狀肺炎」之「確診個案當事人」或「居家檢疫者」或「居家隔離者」。",
                },
                {
                    radio: "30",
                    descript: "3.	過去60天內(含60天)，<span style='color:red'><u><b>無</b></u></span>同住家族成員，係屬於「COVID-19新冠狀肺炎」之「確診個案當事人」或「居家檢疫者」或「居家隔離者」。",
                },
                {
                    radio: "40",
                    descript: "4.	過去60天內(含60天)，個人或個人同住之家族成<span style='color:red'><u><b>無</b></u></span>無曾出現呼吸道感染症狀(如發燒、咳嗽、呼吸困難或肺炎…等症狀)。",
                },
                {
                    radio: "50",
                    descript: "5.	過去60天內(含60天)，<span style='color:red'><u><b>無</b></u></span>公司成員，係屬於「COVID-19新冠狀肺炎」之「確診個案當事人」。",
                },
            ],
        };
    },
    methods: {
        send() {
            const arr = [];
            let testQ = {};
            this.tableData.map((res) => {
                arr.push(res.radio);
            });
            for (let i = 0; i < arr.length; i++) {
                testQ[i] = arr[i];
            }
            const {
                0: Q1,
                1: Q2,
                2: Q3,
                3: Q4,
                4: Q5
            } = {
                ...testQ,
            };
            let objR = Object.assign({}, {
                Q1,
                Q2,
                Q3,
                Q4,
                Q5,
            });
            this.form = Object.assign(this.form, objR);
            console.log(this.form);

            const currentDateTime = moment().format("YYYY/MM/DD HH:mm:ss");
            console.log(currentDateTime);
            this.form.time = currentDateTime;

            this.errors = [];
            if (this.form.Q1 == 10) {
                this.errors.push("一、1.未填寫");
            }
            if (this.form.Q2 == 20) {
                this.errors.push("一、2.未填寫");
            }
            if (this.form.Q3 == 30) {
                this.errors.push("一、3.未填寫");
            }
            if (this.form.Q4 == 40) {
                this.errors.push("一、4.未填寫");
            }
            if (this.form.Q5 == 50) {
                this.errors.push("一、5.未填寫");
            }
            if (!this.form.name) {
                this.errors.push("姓名未填寫");
            }
            if (!this.form.phone) {
                this.errors.push("電話未填寫");
            }
            if (!this.form.contact_name) {
                this.errors.push("緊急聯絡人未填寫");
            }
            if (!this.form.contact_phone) {
                this.errors.push("緊急聯絡人電話未填寫");
            }

            let data = this.form;
            // console.log(this.tableData, "table");
            const api = "http://192.168.64.23:8090/api/users/health";
            if (!this.errors.length) {
                if (
                    this.$route.query.number != null ||
                    this.$route.query.email != null
                ) {
                    this.$http.post(api, data).then((response) => {
                        console.log(response);
                        this.$router.push({
                            path: "/finish",
                            query: {
                                number: this.$route.query.number,
                                email: this.$route.query.email,
                            },
                        });
                    });
                } else {
                    alert("Null email");
                    this.$router.push({
                        path: "/login",
                    });
                }
            }
        },
    },
};
</script>

<style scoped>
/* The hero image */
.hero-image {
    background-image: url("../assets/wv.jpg");
    width: 100%;
    height: 10.5%;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    position: relative;
}
</style>
