<template>
<div>
    <el-row>
        <el-col :span="24">
            <div>
                <nav class="navbar navbar-light bg-light justify-content-between">
                    <a class="navbar-brand" style="color: #6c757d; margin-left: 15px">退修會</a>
                    <div class="form-inline">
                        <a href="https://www.worldvision.org.tw/"><img src="../assets/wv_logo.png" width="135" height="65" /></a>
                    </div>
                </nav>
            </div>
        </el-col>
    </el-row>

    <el-card shadow="always" class="box-card">
        <div>
            <el-button icon="el-icon-d-arrow-left" @click="logout" style="font-size: 16px; float: right">返回</el-button>
            <div class="item text">同工編號： {{ lists.number }}</div>
            <div class="item text" style="margin-bottom: 15px">
                Email： {{ lists.email }}
            </div>

            <el-button icon="el-icon-edit" @click="health" style="margin-right: 20px; font-size: 26px; margin-bottom: 15px">健康聲明書</el-button><br />
            <el-link href="https://docs.google.com/forms/d/e/1FAIpQLScrf3gR-g9VJ2zqNa6Kt8n8kh8nlnGj43g3VL9kf510G4kjvw/viewform" class="el-button" icon="el-icon-edit" style="margin-right: 20px; font-size: 26px; margin-bottom: 15px">投票</el-link><br />
            <el-button icon="el-icon-edit" @click="wordcloud" style="margin-right: 20px; font-size: 26px">文字雲問卷</el-button>
            <hr />
            <el-button icon="el-icon-edit" @click="level" style="font-size: 26px">創意事工</el-button>
            <hr />
            <el-button icon="el-icon-cloudy" @click="seewordcloud" style="margin-right: 20px; font-size: 26px">查看文字雲</el-button>
        </div>
    </el-card>
</div>
</template>

<script>
export default {
    data() {
        return {
            lists: {
                number: atob(this.$route.query.number),
                email: atob(this.$route.query.email),
            },
        };
    },
    methods: {
        health() {
            const api = "http://192.168.64.23:8090/api/users/checkhealth";
            let data = this.lists;
            this.$http.post(api, data).then((response) => {
                this.result = response.data;
                if (this.result != "") {
                    if (this.result === true) {
                        alert("已填寫過了唷！");
                    }
                } else {
                    this.$router.push({
                        path: "/health",
                        query: {
                            number: this.$route.query.number,
                            email: this.$route.query.email,
                        },
                    });
                }
            });
        },
        wordcloud() {
            const api = "http://192.168.64.23:8090/api/users/login";
            let data = this.lists; //api接的為object格式
            this.$http.post(api, data).then((response) => {
                this.result = response.data;
                if (this.result != "") {
                    this.result.forEach((i) => {
                        if (i.judge === true) {
                            alert(i.email + "已填寫過，是否要更新?");
                            this.$router.push({
                                path: "/updateWords",
                                query: {
                                    number: this.$route.query.number,
                                    email: this.$route.query.email,
                                },
                            });
                        }
                    });
                } else {
                    console.log("email無此人資料");
                    this.$router.push({
                        path: "/addWords",
                        query: {
                            number: this.$route.query.number,
                            email: this.$route.query.email,
                        },
                    });
                }
            });
        },
        seewordcloud() {
            this.$router.push({
                path: "/WordCloud",
            });
        },
        level() {
            const api = "http://192.168.64.23:8090/api/users/checkType";
            let data = this.lists; //api接的為object格式
            this.$http.post(api, data).then((response) => {
                this.result = response.data;
                if (this.result != "") {
                    this.result.forEach((i) => {
                        if (i.judge === true) {
                            this.$router.push({
                                path: "/levelup",
                                query: {
                                    number: this.$route.query.number,
                                    email: this.$route.query.email,
                                    related: i.related.trim(),
                                },
                            });
                        }
                    });
                } else {
                    console.log("email無此人資料");
                    this.$router.push({
                        path: "/level",
                        query: {
                            number: this.$route.query.number,
                            email: this.$route.query.email,
                        },
                    });
                }
            });
        },
        logout() {
            this.$router.push("/login");
        },
    },
};
</script>
