<template>
<div>
    <el-container>
        <el-header>
            <nav class="navbar navbar-light bg-light justify-content-between">
                <a class="navbar-brand">退修會</a>
                <a href="https://www.worldvision.org.tw/"><img src="../assets/wv_logo.png" width="135" height="65" /></a>
            </nav>
        </el-header>
        <el-main>
            <el-form ref="lists" :model="lists" label-width="80px">
                <div style="margin-top: 15px">
                    <el-button icon="el-icon-d-arrow-left" @click="back" style="font-size: 16px; float: right; margin-right: 10px">返回</el-button>
                    <h5>
                        <b> 同工編號：{{ lists.number }}<br /></b>
                    </h5>
                    <h5>
                        <b>Email：{{ lists.email }}<br /></b>
                    </h5>
                    <h5>
                        <b>所屬單位： {{ lists.related }}</b>
                    </h5>
                    <hr />
                    <!-- <button @click="isRed=!isRed">点我切换颜色</button>

                    <div id="box" v-bind:class="{red:isRed,blue:!isRed}"> 
                        我是盒
                    </div><br> -->
                    關卡名稱：國際事工處
                    <el-tag>{{ this.check.point1 }}</el-tag>
                    <el-input v-model="lists.level1" placeholder="請輸入通關密碼" maxlength="15" clearable></el-input>
                    <el-button icon="el-icon-d-arrow-right" @click="send1">submit</el-button><br />
                    關卡名稱：東區辦事處
                    <el-tag>{{ this.check.point2 }}</el-tag>
                    <el-input v-model="lists.level2" placeholder="請輸入通關密碼" maxlength="15" clearable></el-input>
                    <el-button icon="el-icon-d-arrow-right" @click="send2">submit</el-button><br />
                    關卡名稱：北區辦事處
                    <el-tag>{{ this.check.point3 }}</el-tag>
                    <el-input v-model="lists.level3" placeholder="請輸入通關密碼" maxlength="15" clearable></el-input>
                    <el-button icon="el-icon-d-arrow-right" @click="send3">submit</el-button><br />
                    關卡名稱：總會行政團隊
                    <el-tag>{{ this.check.point4 }}</el-tag>
                    <el-input v-model="lists.level4" placeholder="請輸入通關密碼" maxlength="15" clearable></el-input>
                    <el-button icon="el-icon-d-arrow-right" @click="send4">submit</el-button><br />
                    關卡名稱：資源發展團隊
                    <el-tag>{{ this.check.point5 }}</el-tag>
                    <el-input v-model="lists.level5" placeholder="請輸入通關密碼" maxlength="15" clearable></el-input>
                    <el-button icon="el-icon-d-arrow-right" @click="send5">submit</el-button><br />
                    關卡名稱：中/南區辦事處
                    <el-tag>{{ this.check.point6 }}</el-tag>
                    <el-input v-model="lists.level6" placeholder="請輸入通關密碼" maxlength="15" clearable></el-input>
                    <el-button icon="el-icon-d-arrow-right" @click="send6">submit</el-button><br />
                </div>
            </el-form>
        </el-main>
    </el-container>
</div>
</template>

<script>
export default {
    data() {
        return {
            isRed: true,
            errors: [],
            lists: {
                //帶參數
                number: atob(this.$route.query.number),
                email: atob(this.$route.query.email),
                related: this.$route.query.related,
                level1: null,
                level2: null,
                level3: null,
                level4: null,
                level5: null,
                level6: null,
            },
            form: {
                //搜尋用
                number: atob(this.$route.query.number),
                email: atob(this.$route.query.email),
            },
            check: {
                //顯示PASS or NO PASS
                point1: null,
                point2: null,
                point3: null,
                point4: null,
                point5: null,
                point6: null,
            },
            point1: {
                number: atob(this.$route.query.number),
                email: atob(this.$route.query.email),
                point1: "PASS",
            },
            point2: {
                number: atob(this.$route.query.number),
                email: atob(this.$route.query.email),
                point2: "PASS",
            },
            point3: {
                number: atob(this.$route.query.number),
                email: atob(this.$route.query.email),
                point3: "PASS",
            },
            point4: {
                number: atob(this.$route.query.number),
                email: atob(this.$route.query.email),
                point4: "PASS",
            },
            point5: {
                number: atob(this.$route.query.number),
                email: atob(this.$route.query.email),
                point5: "PASS",
            },
            point6: {
                number: atob(this.$route.query.number),
                email: atob(this.$route.query.email),
                point6: "PASS",
            },
        };
    },
    created() {
        this.getallPoints();
    },
    methods: {
        getallPoints() {
            const api = "http://192.168.64.23:8090/api/users/checkType";
            let data = this.form;
            this.$http.post(api, data).then((response) => {
                this.result = response.data;
                this.result.forEach((i) => {
                    this.check.point1 = i.point1;
                    this.check.point2 = i.point2;
                    this.check.point3 = i.point3;
                    this.check.point4 = i.point4;
                    this.check.point5 = i.point5;
                    this.check.point6 = i.point6;
                });
            });
        },
        send1() {
            const api = "http://192.168.64.23:8090/api/users/updatePoint1";
            let data = this.point1;
            if (this.lists.level1 === "1111") {
                this.$http.post(api, data).then((response) => {
                    console.log(response);
                });
                this.$router.go(0);
            }
        },
        send2() {
            const api = "http://192.168.64.23:8090/api/users/updatePoint2";
            let data = this.point2;
            if (this.lists.level2 === "2222") {
                this.$http.post(api, data).then((response) => {
                    console.log(response);
                });
                this.$router.go(0);
            }
        },
        send3() {
            const api = "http://192.168.64.23:8090/api/users/updatePoint3";
            let data = this.point3;
            if (this.lists.level3 === "3333") {
                this.$http.post(api, data).then((response) => {
                    console.log(response);
                });
                this.$router.go(0);
            }
        },
        send4() {
            const api = "http://192.168.64.23:8090/api/users/updatePoint4";
            let data = this.point4;
            if (this.lists.level4 === "4444") {
                this.$http.post(api, data).then((response) => {
                    console.log(response);
                });
                this.$router.go(0);
            }
        },
        send5() {
            const api = "http://192.168.64.23:8090/api/users/updatePoint5";
            let data = this.point5;
            if (this.lists.level5 === "5555") {
                this.$http.post(api, data).then((response) => {
                    console.log(response);
                });
                this.$router.go(0);
            }
        },
        send6() {
            const api = "http://192.168.64.23:8090/api/users/updatePoint6";
            let data = this.point6;
            if (this.lists.level6 === "6666") {
                this.$http.post(api, data).then((response) => {
                    console.log(response);
                });
                this.$router.go(0);
            }
        },
        back() {
            this.$router.push({
                path: "/home",
                query: {
                    number: this.$route.query.number,
                    email: this.$route.query.email,
                },
            });
        },
    },
};
</script>

<style scoped>
/* 
div#box{
    width: 50px;
    height: 50px;
    color: darkgray;
}
.red{
        background-color: red;
 }
.blue{
   background-color: blue;
   } */
</style>
