<template>
<div>
    <el-container>
        <el-header>
            <nav class="navbar navbar-light bg-light justify-content-between">
                <a class="navbar-brand">退修會</a>
                <a href="https://www.worldvision.org.tw/"><img src="../assets/wv_logo.png" width="135" height="65" /></a>
            </nav>
        </el-header>
        <el-main>
            <el-form ref="lists" :model="lists" label-width="80px">
                <div style="margin-top: 15px">
                    <h5>
                        <b> 同工編號：{{ lists.number }}<br /></b>
                    </h5>
                    <h5>
                        <b>Email：{{ lists.email }}<br /></b>
                    </h5>
                    <hr />
                    <h5>
                        <b>所屬單位：</b>
                    </h5>
                    <el-radio-group v-model="lists.related">
                        <el-radio label="總會" border></el-radio>
                        <el-radio label="北區" border></el-radio>
                        <el-radio label="中區" border></el-radio>
                        <el-radio label="南區" border></el-radio>
                        <el-radio label="東區" border></el-radio>
                    </el-radio-group><br />
                </div>
                <el-button icon="el-icon-d-arrow-right" @click="send">Next</el-button>
            </el-form>
        </el-main>
    </el-container>
</div>
</template>

<script>
export default {
    data() {
        return {
            errors: [],
            lists: {
                number: atob(this.$route.query.number),
                email: atob(this.$route.query.email),
                related: null,
                point1: "No pass",
                point2: "No pass",
                point3: "No pass",
                point4: "No pass",
                point5: "No pass",
                point6: "No pass",
                point7: "No pass",
            },
        };
    },
    methods: {
        send() {
            let data = this.lists;
            // console.log(this.tableData, "table");
            const api = "http://192.168.64.23:8090/api/users/create";
            if (this.$route.query.number != null || this.$route.query.email != null) {
                this.$http.post(api, data).then((response) => {
                    console.log(response);
                    this.$router.push({
                        path: "/levelup",
                        query: {
                            number: this.$route.query.number,
                            email: this.$route.query.email,
                            related: this.lists.related,
                        },
                    });
                });
            } else {
                alert("Null email");
                this.$router.push({
                    path: "/login",
                });
            }
        },
    },
};
</script>
