<template>
<div>
    <el-row>
        <el-col :span="24">
            <div>
                <nav class="navbar navbar-light bg-light justify-content-between">
                    <a class="navbar-brand" style="color: #6c757d; margin-left: 15px">退修會</a>
                    <div class="form-inline">
                        <a href="https://www.worldvision.org.tw/"><img src="../assets/wv_logo.png" width="135" height="65" /></a>
                    </div>
                </nav>
            </div>
        </el-col>
    </el-row>

    <el-card shadow="always" class="box-card">
        <div slot="header">
            <span>
                <h3 class="el-icon-user-solid">登入</h3>
            </span>
        </div>

        <div class="text item">
            <span>World Vision信箱:</span>
            <el-input class="text item" v-model="lists.email" placeholder="xxx@worldvision.org.tw" clearable></el-input>
            <span>同工編號:</span>
            <el-input class="text item" v-model="lists.number" placeholder="1090101" maxlength="7" onkeyup="if(event.keyCode !=37 && event.keyCode != 39)value=value.replace(/\D/g,'')" clearable></el-input>
        </div>
        <div>
            <ul>
                <li v-for="error in errors" :key="error" class="warning">
                    {{ error }}
                </li>
            </ul>
        </div>

        <!-- {{lists.userid}}
            {{lists.username}}
            {{lists.pwd}}
            {{lists.email}} -->
        <el-button @click="login" icon="el-icon-thumb">確認</el-button>
    </el-card>
</div>
</template>

<script>
export default {
    data() {
        return {
            lists: {
                //object格式
                email: "",
                number: "",
            },
            result: [],
            errors: [],
        };
    },
    methods: {
        login() {
            this.errors = [];
            if (!this.lists.email) {
                this.errors.push("請輸入信箱");
            }
            if (!this.lists.number) {
                this.errors.push("請輸入同工編號");
            }
            if (!this.validEmail(this.lists.email)) {
                this.errors.push("請輸入正確的Worldvision信箱");
            }
            if (!this.errors.length) {
                this.$router.push({
                    path: "/home",
                    query: {
                        number: btoa(this.lists.number),
                        email: btoa(this.lists.email),
                    },
                });
            }
        },
        validEmail: function (email) {
            // var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            var re2 = /@worldvision.org.tw$/; //$代表結束，^代表開始
            return re2.test(email);
        },
    },
};
</script>
