<template>
<div>
    <el-container>
        <el-header>
            <nav class="navbar navbar-light bg-light justify-content-between">
                <a class="navbar-brand">退修會</a>
                <a href="https://www.worldvision.org.tw/"><img src="../assets/wv_logo.png" width="135" height="65"></a>
            </nav>
        </el-header>
        <el-main>
            <div class="item">同工編號： {{ lists.number }}</div>
            <div class="item">Email： {{ lists.email }}</div>
            <div style="padding:3px; border: 5px solid lightgray;">
                <center>指導語<br></center>
                各位親愛的同工，平安<br>
                謹先代表行政團隊感謝您填寫這份問卷，此份問卷主要目的是延續「FY20 Our Voice」的結果，進一步了解同工對於推動「組織文化」上所期待的層面，並且凝聚全會的共識，所以，每題四個選項中的內容「沒有」對錯優劣，請同工依照「直覺」從選項中選一個最為認同的，不需思考太久，問卷共有17題，大約3分鐘以內可以完成；若您想要改變原本問卷選項，亦可重新填寫。<br>
                問卷填寫截止時間為11/5（四）20：00，請大家把握時間！<br>
            </div>
            <el-form ref="lists" :model="lists" label-width="80px">

                1.對於能夠參加這次退修會，我的感覺是<br>
                <el-radio-group v-model="lists.Q1">
                    <el-radio label="感恩" border></el-radio>
                    <span style="padding-left: 38px;">
                        <el-radio label="不好說" border></el-radio>
                    </span><br>
                    <el-radio label="誠惶誠恐" border></el-radio>
                    <el-radio label="隨遇而安" border></el-radio>
                </el-radio-group>
                <hr>
                2.對於台灣世界展望會要凝聚建造文化的共識，我覺得最大的挑戰是<br>
                <el-radio-group v-model="lists.Q2">
                    <el-radio label="執行同工" border></el-radio>
                    <el-radio label="現有制度" border></el-radio><br>
                    <el-radio label="個人信心" border></el-radio>
                    <el-radio label="那些主管" border></el-radio>
                </el-radio-group>
                <hr>
                3.我認為要強化夥伴關係，最關鍵的因素是<br>
                <el-radio-group v-model="lists.Q3">
                    <el-radio label="關心" border></el-radio>
                    <el-radio label="信任" border></el-radio><br>
                    <el-radio label="感恩" border></el-radio>
                    <el-radio label="真誠" border></el-radio>
                </el-radio-group>
                <hr>
                4.我認為一個理想的團隊氛圍是團隊能讓同工<br>
                <el-radio-group v-model="lists.Q4">
                    <el-radio label="專注目標" border></el-radio>
                    <el-radio label="展現自我" border></el-radio><br>
                    <el-radio label="彼此幫補" border></el-radio>
                    <el-radio label="犧牲小我" border></el-radio>
                </el-radio-group>
                <hr>
                5.我認為工作上與同工有意見衝突時應該要<br>
                <el-radio-group v-model="lists.Q5">
                    <el-radio label="堅持己見" border></el-radio>
                    <el-radio label="盡力成全" border></el-radio><br>
                    <el-radio label="溝通協調" border></el-radio>
                    <el-radio label="主管協助" border></el-radio>
                </el-radio-group><br>
                <hr>
                6.我認為與主管理念不合時可以<br>
                <el-radio-group v-model="lists.Q6">
                    <el-radio label="另謀出路" border></el-radio>
                    <el-radio label="努力說服" border></el-radio><br>
                    <el-radio label="順服權柄" border></el-radio>
                    <el-radio label="尋求上帝" border></el-radio>
                </el-radio-group>
                <hr>
                7.我認為做好時間管理最重要的關鍵是<br>
                <el-radio-group v-model="lists.Q7">
                    <el-radio label="分辨次序" border></el-radio>
                    <span style="padding-left: 24.5px;">
                        <el-radio label="明確分工" border></el-radio>
                    </span><br>
                    <el-radio label="減少臨交辦" border></el-radio>
                    <el-radio label="有時間觀念" border></el-radio>
                </el-radio-group>
                <hr>
                8.我認為機構若要改善工作效率，可先從哪開始<br>
                <el-radio-group v-model="lists.Q8">
                    <el-radio label="簡化流程" border></el-radio>
                    <el-radio label="主管授權" border></el-radio><br>
                    <el-radio label="換個主管" border></el-radio>
                    <el-radio label="自我優化" border></el-radio>
                </el-radio-group>
                <hr>
                9.我認為目前機構若要有效利用人力，可先改進的是要<br>
                <el-radio-group v-model="lists.Q9">
                    <el-radio label="減少冗員" border></el-radio>
                    <el-radio label="適才適所" border></el-radio><br>
                    <el-radio label="合理編制" border></el-radio>
                    <el-radio label="提升專業" border></el-radio>
                </el-radio-group><br>
                <hr>
                10.我認為目前機構在有效利用經費上，最需做到的是<br>
                <el-radio-group v-model="lists.Q10">
                    <el-radio label="當用則用" border></el-radio>
                    <el-radio label="撙節成本" border></el-radio><br>
                    <el-radio label="傾聽民意" border></el-radio>
                    <el-radio label="落實規範" border></el-radio>
                </el-radio-group>
                <hr>
                11.我認為愛裡說誠實話的「在愛裡」的意思是<br>
                <el-radio-group v-model="lists.Q11">
                    <el-radio label="全然接納" border></el-radio>
                    <el-radio label="真誠無懼" border></el-radio><br>
                    <el-radio label="忍耐到底" border></el-radio>
                    <el-radio label="是為你好" border></el-radio>
                </el-radio-group>
                <hr>
                12.我認為適時在愛裡說誠實話，最重要的是<br>
                <el-radio-group v-model="lists.Q12">
                    <el-radio label="適時" border></el-radio>
                    <span style="padding-left: 24px;">
                        <el-radio label="愛" border></el-radio>
                    </span><br>
                    <el-radio label="說出來" border></el-radio>
                    <el-radio label="誠實話" border></el-radio>
                </el-radio-group>
                <hr>
                13.我認為在會內勇敢說誠實話最大的挑戰是<br>
                <el-radio-group v-model="lists.Q13">
                    <el-radio label="同儕排擠" border></el-radio>
                    <el-radio label="主管權威" border></el-radio><br>
                    <el-radio label="自我設限" border></el-radio>
                    <el-radio label="組織氛圍" border></el-radio>
                </el-radio-group><br>
                <hr>
                14.我希望工作表現良好的時候，主管可以<br>
                <el-radio-group v-model="lists.Q14">
                    <el-radio label="口頭肯定" border></el-radio>
                    <el-radio label="公開表揚" border></el-radio><br>
                    <el-radio label="實質獎勵" border></el-radio>
                    <el-radio label="提高授權" border></el-radio>
                </el-radio-group>
                <hr>
                15.當身邊的人言行不一時，我認為我可以<br>
                <el-radio-group v-model="lists.Q15">
                    <el-radio label="當頭棒喝" border></el-radio>
                    <el-radio label="為他禱告" border></el-radio><br>
                    <el-radio label="真誠提醒" border></el-radio>
                    <el-radio label="跟主管說" border></el-radio>
                </el-radio-group>
                <hr>
                16.我認為今年主題「先求神的國」的意義是<br>
                <el-radio-group v-model="lists.Q16">
                    <el-radio label="尊主為大" border></el-radio>
                    <el-radio label="成就大我" border></el-radio><br>
                    <el-radio label="胸懷天下" border></el-radio>
                    <el-radio label="耶穌同在" border></el-radio>
                </el-radio-group>
                <hr>
                17.我認為今年主題「先求神的國」可以如何在心態上顯現<br>
                <el-radio-group v-model="lists.Q17">
                    <el-radio label="不要憂慮" border></el-radio>
                    <el-radio label="積極爭取" border></el-radio><br>
                    <el-radio label="常有盼望" border></el-radio>
                    <el-radio label="逆來順受" border></el-radio>
                </el-radio-group>
                <hr>

                <p v-if="errors.length" class="warning">
                <ul>
                    <li v-for="error in errors" :key="error" class="warning">{{ error }}</li>
                </ul>
                </p>
                <!-- {{lists.userid}}
            {{lists.username}}
            {{lists.pwd}}
            {{lists.email}} -->
                <el-button icon="el-icon-thumb" @click="updateUser">Confirm</el-button>
            </el-form>
        </el-main>
    </el-container>
</div>
</template>

<script>
import moment from "moment";
export default {
    data() {
        return {
            errors: [],
            lists: {
                number: atob(this.$route.query.number),
                email: atob(this.$route.query.email),
                Q1: null,
                Q2: null,
                Q3: null,
                Q4: null,
                Q5: null,
                Q6: null,
                Q7: null,
                Q8: null,
                Q9: null,
                Q10: null,
                Q11: null,
                Q12: null,
                Q13: null,
                Q14: null,
                Q15: null,
                Q16: null,
                Q17: null,
                time: null,
            },
        };
    },
    methods: {
        updateUser() {
            const currentDateTime = moment().format("YYYY/MM/DD HH:mm:ss");
            console.log(currentDateTime);
            this.lists.time = currentDateTime;
            this.errors = [];
            if (!this.lists.Q1) {
                this.errors.push("Q1未填寫");
            }
            if (!this.lists.Q2) {
                this.errors.push("Q2未填寫");
            }
            if (!this.lists.Q3) {
                this.errors.push("Q3未填寫");
            }
            if (!this.lists.Q4) {
                this.errors.push("Q4未填寫");
            }
            if (!this.lists.Q5) {
                this.errors.push("Q5未填寫");
            }
            if (!this.lists.Q6) {
                this.errors.push("Q6未填寫");
            }
            if (!this.lists.Q7) {
                this.errors.push("Q7未填寫");
            }
            if (!this.lists.Q8) {
                this.errors.push("Q8未填寫");
            }
            if (!this.lists.Q9) {
                this.errors.push("Q9未填寫");
            }
            if (!this.lists.Q10) {
                this.errors.push("Q10未填寫");
            }
            if (!this.lists.Q11) {
                this.errors.push("Q11未填寫");
            }
            if (!this.lists.Q12) {
                this.errors.push("Q12未填寫");
            }
            if (!this.lists.Q13) {
                this.errors.push("Q13未填寫");
            }
            if (!this.lists.Q14) {
                this.errors.push("Q14未填寫");
            }
            if (!this.lists.Q15) {
                this.errors.push("Q15未填寫");
            }
            if (!this.lists.Q16) {
                this.errors.push("Q16未填寫");
            }
            if (!this.lists.Q17) {
                this.errors.push("Q17未填寫");
            }

            const api = "http://192.168.64.23:8090/api/users/update";
            let data = this.lists;
            console.log(data, "==============================");
            if (!this.errors.length) {
                if (
                    this.$route.query.number != null ||
                    this.$route.query.email != null
                ) {
                    this.$http.post(api, data).then((response) => {
                        console.log(response);
                        this.$router.push({
                            path: "/finish",
                            query: {
                                number: this.$route.query.number,
                                email: this.$route.query.email,
                            },
                        });
                    });
                } else {
                    alert("Null email");
                    this.$router.push({
                        path: "/login",
                    });
                }
            }
        },
    },
};
</script>
