<template>
<div>
    <el-row>
        <el-col :span="24">
            <div class="grid-content bg-purple-dark">
                <nav class="navbar navbar-light bg-light justify-content-between">
                    <a class="navbar-brand" style="color: #6c757d; margin-left: 15px">退修會</a>
                    <div class="form-inline">
                        <a href="https://www.worldvision.org.tw/"><img src="../assets/wv_logo.png" width="135" height="65" /></a>
                    </div>
                </nav>
            </div>
        </el-col>
    </el-row>
    <div>
        <wordcloud :data="defaultWords" nameKey="name" valueKey="value" :color="colors" :rotate="angel" :margin="margin" :wordPadding="8" :fontSize="[14, 50]" :showTooltip="false">
        </wordcloud>
    </div>
    <el-button icon="el-icon-d-arrow-left" @click="logout" style="font-size: 16px; float: right; margin-right: 10px">返回</el-button>
</div>
</template>

<script>
import wordcloud from "vue-wordcloud";

export default {
    name: "app",
    components: {
        wordcloud,
    },
    created() {
        this.getallUsers();
    },
    methods: {
        getallUsers() {
            const api = "http://192.168.64.23:8090/api/users/";
            var arr = [];
            var keys = [],
                values = [],
                prev; //a元素 b元素個數
            var words = [];
            this.$http.get(api).then((response) => {
                this.users = response.data;
                this.users.forEach((i) => {
                    arr.push(
                        i.Q1,
                        i.Q2,
                        i.Q3,
                        i.Q4,
                        i.Q5,
                        i.Q6,
                        i.Q7,
                        i.Q8,
                        i.Q9,
                        i.Q10,
                        i.Q11,
                        i.Q12,
                        i.Q13,
                        i.Q14,
                        i.Q15,
                        i.Q16,
                        i.Q17
                    );
                });
                arr.sort();
                for (var i = 0; i < arr.length; i++) {
                    if (arr[i] !== prev) {
                        keys.push(arr[i]);
                        values.push(1);
                    } else {
                        values[values.length - 1]++;
                    }
                    prev = arr[i];
                }
                // console.log(keys, values)
                for (var i = 0; i < keys.length; i++) {
                    words[i] = {
                        name: keys[i],
                        value: values[i],
                    };
                }
                // for (var j = 0; j < words.length; j++) {
                //     console.log(words[j].name);
                //     console.log(words[j].name.trim() === "關心");
                // }
                words.map((key) => {
                    const test = key.name.trim();
                    if (
                        test === "關心" ||
                        test === "信任" ||
                        test === "專注目標" ||
                        test === "適才適所" ||
                        test === "愛" ||
                        test === "真誠提醒"
                    ) {
                        key.value = key.value * 10;
                        // console.log(key.value, "++++");
                    }
                    // console.log(key.name.trim(), "123", typeof key.name);
                });
                console.log(words);
                this.defaultWords = words;
                // var result = {};
                // keys.forEach((key, i) => result[key] = values[i]);
                // console.log(result)
            });
        },
        logout() {
            // this.$router.push("/login");
            window.history.back();
        },
    },
    data() {
        return {
            users: [],
            colors: [
                "#5151A2",
                "#5CADAD",
                "#EA7500",
                "#D9006C",
                "#842B00",
                "#FF8000",
                "#4F9D9D",
            ],
            angel: {
                from: 0,
                to: 0,
            },
            margin: {
                top: 35,
                right: 15,
                bottom: 15,
                left: 15,
            },
            defaultWords: [],
        };
    },
};
</script>
