<template>
<div id="app">
    <router-view />
</div>
</template>

<script>
export default {
    name: "App",
};
</script>

<style lang="scss">
>#app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}

// @import "./assets/all";
.el-row {
    margin-bottom: 20px;
}

.el-col {
    border-radius: 4px;
}

.text {
    font-size: 20px;
}

.item {
    padding: 5px 0;
}

.box-card {
    width: 90%;
    margin: auto;
}

.warning {
    color: #f56c6c;
    font-size: 20px;
}
</style>
